.options {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    align-items: center;
}

.optionButton {
    color: #f5f5f5;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.optionButton:hover {
    color: #f5f5f5cc;
}